body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
	background-color: #0d6efd;
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

.footer > h4{
	background-color: #5cf;
	text-align: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}